<section id="cd-timeline" class="cd-container">
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<%= image_tag "instructurelogo.png" %>
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>SOFTWARE ENGINEER IN TEST - Instructure, Inc.</h2>
				<p>NYSE: INST. Instructure makes software that makes people smarter.</p>
				<span class="cd-date">April 2016 - Present</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<%= image_tag "booklylogo.png" %>
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>LEAD DEVELOPER - Bookly, Inc.</h2>
				<p>First engineering hire. Integrated an externally maintained software product platform into an in house development project. Developed the first product roadmap and hiring guidelines for engineering staff. Recruited, vetted and hired first engineering hires. Worked with and dismissed contracting teams. Conducted staff 1-1's, led and planned scrum team meetings. Completed feature and bug work in Ruby on Rails. Worked with external API’s and SDK’s to complete features. Helped negotiate product partnerships and set reasonable expectations for both parties.</p>
				<span class="cd-date">March 2015 – January 2016</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<%= image_tag "vaultrmslogo.jpg" %>
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>CO-FOUNDER - VaultRMS, Inc.</h2>
				<p>Headed product-engineering department, led development team in creating applications for police departments and first responders. Actively performed development on a Ruby on Rails
                    platform application with a front end in AngularJS supporting two police departments and a security group for one product and the MEAN stack built on top of Ionic for another.
                    Launched both products on time and under budget. Assisted in sales and marketing, performed cold calls and followed up on sales leads. Accelerated negotiations for seed series
                    funding that led to closing the round.</p>
				<span class="cd-date">June 2014 - January 2015</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<%= image_tag "healthcatalystlogo.png" %>
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>SOFTWARE ENGINEER - Health Catalyst</h2>
				<p> Built an enterprise data warehousing system with a team of developers and manual QA engineers. Created a platform in ASP.NET MVC 4 used to manage SQL Server jobs and browse and
                    manage the metadata database. Expanded functionality of an existing application to map database systems and flat files to a metadata database. All projects shipped on time and
                    under budget to each of our 10 client healthcare systems.</p>
				<span class="cd-date">May 2013 - June 2014</span>
			</div> <!-- cd-timeline-content -->
		</div>

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
				<%= image_tag "uofulogo.png" %>
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>TEACHING ASSISTANT - University of Utah School of Computing</h2>
				<p> Assisted with Professor Feifei Li's CS5530 – Database Systems course which was an undergraduate-level introduction to database systems and applications using databases. Held office
                    hours where I mentored students in many database and software engineering related topics. Graded papers, made and produced keys in LaTeX, and met with students for additional
                    assistance outside office hours. Topics included SQL, relational, ISAM, and NoSQL databases, data modeling, and more.</p>
				<span class="cd-date">January 2013 - May 2013</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
				<%= image_tag "boxworkslogo.jpg" %>
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>SOFTWARE ENGINEERING INTERN - Boxworks Technologies, Inc.</h2>
				<p>Developed software in PHP for the materials handling industry, primarily assisted in converting legacy code from the in house language to PHP and developing data reporting screens
                    in PHP while interacting with a CTree database.</p>
				<span class="cd-date">May 2012 - January 2013</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

	</section> <!-- cd-timeline -->