<div id="main_content" class="container-fluid" ng-controller="main">
		<%= render partial: "partials/navbar" %>
		<div class="row">

			<div id="page-wrap" class="col-md-8">
				<%= render partial: "partials/slider" %>
			</div>

			<div id="about" class="col-md-4">
				<div id="containerAbout">
					<div class="leftAbout">
						<p>
							<h2>About</h2>
							Hi! My name is <strong>Ben Nelson</strong>, I am a software engineer and web developer!  I do development currently in C# but have experience
							in Ruby, Ruby on Rails, Python, C/C++, JavaEE, JSP, JavaScript (including NodeJS), PHP and others! I've worked in small teams, alone and with
							large development groups (20+ members) and have done all styles of development you can throw at me including BDD, TDD, Kanban, Lean, Scrum, and other Agile methodolgies. I am passionate about <b>working code</b> and making cool dreams a reality! 
						</p>
							<br/>
						<p>
							My passions include agile development of lean software, camping, hiking, paintballing, brewing, photography, reading, cycling and boxing. I have many fun projects which are listed on the Projects portion of this site. My twitter feed and blog feed are also linked above as well as my email address. Feel free to contact me at any time!
						</p>

					</div>
					<%= render partial: "partials/twitter" %>
					<div class="github-widget" data-repo="bytenel/portfolio"></div>
				</div>
			</div>
		</div>

		<div class="row">
			<%= render partial: "partials/skills" %>
		</div>
		
		<div class="row">
			<%= render partial: "partials/projects" %>
		</div>	

		<div class="row">
			<%= render partial: "partials/presentations" %>
		</div>

		<div class="row">
			<%= render partial: "partials/blog" %>
		</div>

		<div class="row">
			<div class="col-lg-12">	
				<%= render partial: "partials/contact" %>

				<%= render partial: "partials/footer" %>	
			</div>
		</div>
</div>