<!-- Preloader -->
<div class="mask">
  <div class="loader-item fa fa-spin loader-color">
  </div>
</div>
<!-- Preloader end -->

<!-- header  -->
<div id="navbar" class="collapse navbar-collapse">
  <ul class="nav navbar-nav navbar-right">
      <li>
         <a href="#skills">Skills</a>
      </li>
      <li>
         <a href="#resume">Resume</a>
      </li>
      
      <li>
         <a href="/blog">Blog</a>
      </li>
      <li>
         <a href="#contact">Contact</a>
      </li>
  </ul>
</div>
<!-- header end -->

<!-- Section : Home -->
<section id="home" class="home-parallax" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
  <div class="home-overlay">
    <div class="container">
      <div class="col-md-12">

        <div class="info">
          <h2>BEN NELSON</h2>

          <h3>SOFTWARE ENGINEER</h3>
        </div>
        <!-- end .info -->
      </div>
      <!-- end .col-md-12 -->
    </div>
    <!-- end .cotainer -->
  </div>
  <!-- end .home-overlay -->
</section>
<!-- Section : Home end -->

<%= render 'portfolio/about_me' %>

<div class='timeline'>
  <%= render 'portfolio/resume' %>
</div>

<%= render 'portfolio/skills' %>

<%= render 'portfolio/clients' %>

<!-- Section : Projects -->
<!-- TODO create projects section! !-->

<%= render 'portfolio/contact' %>

<!-- Scroll Top -->
<a class="scroll-top" href="#" title="Scroll to top"><i class="fa-chevron-up"></i></a>