	<div class="container">
		<%= render partial: "navbar" %>
		<div id="page-wrap">
			<%= render partial: "slider" %>
		</div>

		<div id="about">
			<div id="containerAbout">
				<div class="leftAbout">
					<p>
						<h2>About</h2>
						Hi! My name is <strong>Ben Nelson</strong>, I am a software engineer and web developer and a current student at the University of Utah. I primarily program in Ruby currently, but I have experience doing web development in PHP as well as ASP.NET and JSP/Java Servlets. My favorite aspects of web development is doing Big Data analysis using natural language processing techniques and statistical inference on large datasets for business decisions.
					</p>
						<br/>
					<p>
						My passions include agile development of lean software, camping, hiking, paintballing, brewing, reading, cycling and boxing. I have many fun projects which are listed on my Github repository which is located at www.github.com/bytenel. My twitter feed and blog feed are also linked above as well as my email address. Feel free to contact me at any time!
					</p>

				</div>
				<%= render partial: "twitter" %>
			</div>

			<%= render partial: "skills" %>
		</div>

		<%= render partial: "contact" %>

		<%= render partial: "footer" %>	
	</div>